$default-text-color: #333 !default;
$default-note-color: #666 !default;
$default-placeholder-text-color: #989898 !default;
$default-border-radius: 4px !default;
$default-border-color: #e1e1e1 !default;
$default-delimiter-color: #ebebeb !default;

$brand-color-1: #20bfed !default;

$error-state-color: #ac636f !default;
$success-state-color: #4bd49b !default;
